<link rel="stylesheet" href="js/profile/main.css"></link>

<div class="modal-dialog ">
	<form class="form-horizontal" name="myForm" novalidate role="form">
		<div class="modal-content" style="box-shadow: none;">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
					<span aria-hidden="true">×</span>
				</button>
				<h3 class="modal-title" id="modal-title">管理员信息</h3>
			</div>
			<div class="modal-body ng-scope" id="modal-body">
				<div class="box-body">
					<div class="form-group inputprofile">
						<img ng-src="{{avatar}}" class="img-rounded img-responsive" ng-click="openImage();"/>
					</div>
					<div class="form-group inputprofile">
						<label for="loginName" class="col-sm-2 control-label">登录名</label>
						<div class="col-sm-10 input-group ">
							<div class="input-group-addon">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" class="form-control" id="loginName"
								name="loginName" placeholder="登录名必填" ng-model="loginName"
								ng-pattern="/^[0-9a-zA-Z]*$/" ng-minlength="2" ng-maxlength="20"
								required readonly="readonly"/>
						</div>
						<div  class="col-sm-10 errordiv" ng-messages="myForm.loginName.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">登录名必填</p>
								<p class="error" ng-message="minlength">最小长度为4个字符</p>
								<p class="error" ng-message="maxlength">最大长度为20个字符</p>
								<p class="error" ng-message="pattern">必须为字母或者字母+数字</p>
							</div>
					</div>

					<div class="form-group inputprofile">
						<label for="name" class="col-sm-2 control-label">用户姓名</label>
						<div class="col-sm-10 input-group ">
							<div class="input-group-addon">
								<i class="fa fa-user"></i>
							</div>
							<input type="text" class="form-control" id="name" name="name"
								placeholder="用户姓名必填" ng-model="name"
								ng-pattern="/[\W]|[^\u4E00-\u9FA5]/" ng-minlength="2"
								ng-maxlength="20" required />
						</div>
						<div  class="col-sm-10 errordiv" ng-messages="myForm.name.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">用户姓名必填</p>
								<p class="error" ng-message="minlength">最小长度为2个字符</p>
								<p class="error" ng-message="maxlength">最大长度为20个字符</p>
								<p class="error" ng-message="pattern">必须为字母或者中文</p>
							</div>
					</div>

					<div class="form-group inputprofile">
						<label for="email" class="col-sm-2 control-label">E-mail</label>
						<div class="col-sm-10 input-group">
							<div class="input-group-addon">
								<i class="fa fa-envelope"></i>
							</div>
							<input type="text" class="form-control" id="email" name="email"
								placeholder="E-mail必填" ng-model="email"
								ng-pattern="/^(?:\w+\.?)*\w+@(?:\w+\.)+\w+$/" ng-minlength="2"
								ng-maxlength="20" required />
						</div>
						<div  class="col-sm-10 errordiv" ng-messages="myForm.email.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">E-mail必填</p>
								<p class="error" ng-message="minlength">最小长度为5个字符</p>
								<p class="error" ng-message="maxlength">最大长度为100个字符</p>
								<p class="error" ng-message="pattern">格式不正确</p>
							</div>
					</div>

					<div class="form-group inputprofile">
						<label for="mobile" class="col-sm-2 control-label">手机号码</label>
						<div class="col-sm-10 input-group">
							<div class="input-group-addon">
								<i class="fa fa-phone"></i>
							</div>
							<input type="text" class="form-control" id="mobile" name="mobile"
								placeholder="手机号码必填" ng-model="mobile"
								ng-pattern="/1[345678]\d{9}$|(\(\d{3,4}\)|\d{3,4}-|\s)?\d{7,14}$/"
								ng-minlength="6" ng-maxlength="20" required />
						</div>
						<div  class="col-sm-10 errordiv" ng-messages="myForm.mobile.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">手机号码必填</p>
								<p class="error" ng-message="minlength">最小长度为6个字符</p>
								<p class="error" ng-message="maxlength">最大长度为20个字符</p>
								<p class="error" ng-message="pattern">格式不匹配</p>
							</div>
					</div>
					<div class="form-group inputprofile">
						<a href="#/updateProfile" ng-click="update()" class="btn btn-success">更新用户信息</a>
					</div>

				</div>
			</div>
		</div>
	</form>
</div>
