@CHARSET "UTF-8";
.rolesgrid {
  width: 100%;
  height: 800px;
}
.releasepro-table tbody>tr>td>input{width:100%;}
.releasepro-table tbody>tr>td>textarea{width:100%;}
.releasepro-table tbody>tr>td>div{width:25%;float:left;}
.releasepro-table tbody>tr>td>div>em{width:20%;}
.releasepro-table tbody>tr>td>div>input{width:100%;position:relative;}
.releasebtn{width:18px;;float:right;margin:0;padding:0; height:34px;}
.releasebtn li{list-style:none; height:18px;}
.releasebtn li i{height:18px; width:18px;font-size:18px;color: #c3c3c3;cursor:pointer; }
.releasebtn li .green:hover{color:#00a65a;}
.releasebtn li .red:hover{color:#ff0808;}
.releasebtn li .yellow:hover{color:#ff6633;}
.releaseplus i{font-size:20px; color:#00a65a; height:20px;float: right;position: relative;top: -10px;cursor:pointer;}
.releaseplus i:hover{color:#007942;}

.publishselectimg{margin:0; position:relative;}
.publishselectimg i{margin:0 5px 0 0; width:34px; height:34px; display: block;float: left; position:relative;}
.publishselectimg i img{ width:34px; height:34px; position:relative; left:0; top:0;
transition: width 0.3s, height 0.3s, left 0.3s, top 0.3s;
-moz-transition:  width 0.3s, height 0.3s, left 0.3s, top 0.3s;	/* Firefox 4 */
-webkit-transition:  width 0.3s, height 0.3s, left 0.3s, top 0.3s;	/* Safari 和 Chrome */
-o-transition:  width 0.3s, height 0.3s, left 0.3s, top 0.3s;	/* Opera */}
.publishselectimg i img:hover{position:relative; width:60px; height:60px; left:-13px; top:-13px;z-index:99;}

.publishselectimg i em{font-size: 12px;font-style: initial;font-family: "微软雅黑";position: absolute;top: -10px; right: -10px; z-index: 99;background: white; border-radius: 50%; cursor: pointer;width: 16px;height: 16px; line-height: 16px;text-align: center;display:none;box-shadow: 0 0 3px #999;}
.publishselectimg i:hover em{display:block;}

.form-group .fdisplay{display: inline-table; margin: 0 10px 0 0;}
.form-group .fright{float:right;}
.reaimgslist{margin:0 5px;float:left;}
.reaimgslist .caption h3{font-size:13px; line-height:24px; height:24px; margin:0 0 10px 0;overflow: hidden;}
.reaimgslist img{width:172px;height:172px;}
.reaimgslist .thumbnail{width:190px; float:left;padding:8px; height:226px; position:relative;}
.reaimgslist .thumbnail:hover{cursor:pointer;border: #dd4b39 solid 1px;}
.reaimgslist .thumbnail i{display:none;}
.reaimgslist .thumbnail .caption{padding:9px 0;}
.reaimgslist .thumbnail .caption div input{border: #ddd solid 1px;width:66%;margin:0 0 7px 0;line-height: 25px; padding: 0 5px;}
.reaimgslist .thumbnail .caption div a{line-height: 26px;background: #3c8dbc;color: white;font-size: 12px;padding: 3px;}

.reaimgslist>.on{border: #dd4b39 solid 1px;}
.reaimgslist>.on i{display:block;position: absolute;top:150px;right:8px;font-size: 20px;color: #ffffff;background: #dd4b39;width: 30px;height: 30px;border-radius: 50%;text-align: center;line-height: 30px;opacity: 0.9;}

.thistreenewcss{width:100% !important; max-height: 784px !important; overflow:auto;}
.list-group-item{padding: 10px 15px !important;margin-bottom: -1px !important;border: 1px solid #ddd !important; font-size:14px;}


/*img upload textarea*/
.proimgslist{margin:0 5px;float:left;height: 710px !important;overflow: auto !important;margin: 10px 0 !important;}
.proimgslist .caption h3{font-size:13px; line-height:24px; margin:0 0 10px 0;overflow: hidden;}
.proimgslist img{width:170px;height:170px;}
.proimgslist .thumbnail{width:175px; float:left;padding:8px; margin:4px; height:205px; position:relative;display: block;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;}
.proimgslist .thumbnail:hover{cursor:pointer;border: #dd4b39 solid 1px;}
.proimgslist .thumbnail i{display:none;}
.proimgslist .thumbnail .caption{padding:9px 0;}
.proimgslist .thumbnail .caption div input{border: #ddd solid 1px;width:66%;margin:0 0 7px 0;line-height: 25px; padding: 0 5px;}
.proimgslist .thumbnail .caption div a{line-height: 26px;background: #3c8dbc;color: white;font-size: 12px;padding: 3px;}

.proimgslist>.on{border: #dd4b39 solid 1px;}
.proimgslist>.on i{display:block;position: absolute;top:148px;right:10px; font:normal normal normal 14px/1 FontAwesome;font-size: 20px;color: #ffffff;background: #dd4b39;width: 30px;height: 30px;border-radius: 50%;text-align: center;line-height: 30px;opacity: 0.9;}

.proimgpagination{font-family:"Microsoft YaHei" !important; box-sizing:border-box !important; margin:0 10px !important;}
.proimgpagination li{font-family:"Microsoft YaHei" !important; box-sizing:border-box !important;}
.proimgpagination li a{font-family:"Microsoft YaHei" !important; box-sizing:border-box !important; font-size:14px;}
.proimgpagination li input{font-family:"Microsoft YaHei" !important; box-sizing:border-box !important;}















