<form class="form-horizontal" name="myForm" novalidate role="form"
		ng-submit="addUsersDepartment()">
		<div class="modal-content">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
					<span aria-hidden="true">×</span>
				</button>
				<h3 class="modal-title" id="modal-title">授权部门</h3>
			</div>
			<div class="modal-body role-dele">
				<div class="row">
					<div class="col-md-2 margin-trb">
						<button type="submit" class="btn btn-primary">保存</button>
					</div>
				</div>
				<div id="grid1" ui-grid="gridOptions" ui-grid-tree-view
					ui-grid-selection class="grid"></div>
			</div>
		</div>
</form>
<style>
.role-dele .grid{height:750px;}
</style>
