<div>
	<div class="row">
		<div class="col-md-4">
			<a class="btn btn-default margin-trb" href="#/users/create" ng-click="openAddWin()" has-perm="USERS_ADD"><i class="fa fa-fw fa-user-plus"></i>创建用户</a>
			<a class="btn btn-default margin-trb" href="#/roles/showOrHideFilter" ng-click="toggleFiltering()"><i class="fa"></i>{{showOrHide}}</a>
 	 	</div>
 	 </div>
	<div ui-grid="gridOptions" class="grid usersgrid" ui-grid-move-columns  ui-grid-selection ui-grid-auto-resize ui-grid-pagination></div>
</div>