<div class="modal-dialog ">
	<form class="form-horizontal" name="myForm" novalidate
		ng-submit="resetPassword()">
		<div class="modal-content">
			<div class="modal-header ng-scope">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()">
					<span aria-hidden="true">×</span>
				</button>
				<h3 class="modal-title" id="modal-title">重置密码</h3>
			</div>
			<div class="modal-body ng-scope" id="modal-body">


				<div class="box-body">
					<div class="form-group">
						<label for="newPwd" class="col-sm-2 control-label">新密码</label>
						<div class="col-sm-10">
							<input type="password" id="newPwd" class="form-control" name="newPwd"
								placeholder="必填" ng-model="newPwd"
								ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/"
								ng-minlength="6" ng-maxlength="20" required />
							<div style="color: red" ng-messages="myForm.newPwd.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">密码必填</p>
								<p class="error" ng-message="minlength">最小长度为6个字符</p>
								<p class="error" ng-message="maxlength">最大长度为20个字符</p>
								<p class="error" ng-message="pattern">必须是字母数字组合</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label for="confirmPwd" class="col-sm-2 control-label">确认密码</label>

						<div class="col-sm-10">
							<input type="password" id="confirmPwd" name="confirmPwd" placeholder="必填"
								class="form-control" ng-model="confirmPwd"
								ng-pattern="/^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{6,20}$/"
								ng-minlength="6" ng-maxlength="20" required>
							<div style="color: red" ng-messages="myForm.confirmPwd.$error"
								ng-messages-multiple>
								<p class="error" ng-message="required">密码必填</p>
								<p class="error" ng-message="minlength">最小长度为6个字符</p>
								<p class="error" ng-message="maxlength">最大长度为20个字符</p>
								<p class="error" ng-message="pattern">必须是字母数字组合</p>
								<p class="error" ng-show="newPwd!=confirmPwd">两次密码不一致</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer ng-scope">
			<button type="button" class="btn btn-default pull-left" data-dismiss="modal" ng-click="cancel()">取消</button>
                <button type="submit" class="btn btn-primary" ng-disabled="myForm.newPwd.$error.required && myForm.confirmPwd.$error.required">更新</button>
			</div>
		</div>
	</form>
</div>
