<div class="row equipmentfailure" style="height: 100%;">
    <div class="col-md-12 clearfix" style="margin-top: 10px;">
        <div class="canon-tab">
            <a ng-class="{'canon-tab-active': tabIsActive == v.type}" ng-click="canonTab(v.type)" ng-repeat="v in canonTabData">{{v.name}}</a>
        </div>
    </div>

    <div class="col-md-12 clearfix public-number" ng-show="tabIsActive == 'publicNumber'" style="margin-bottom: 20px;">
        <div class="subscribe-number">
            <div id="J-follow" class="subscribe-number-left" style="width: 100%; height: 400px;"></div>
            <div id="J-use" class="subscribe-number-right" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <div class="col-md-12 clearfix public-number" ng-show="tabIsActive == 'publicNumber'">
       <div class="subscribe-number">
           <div id="J-ranking" class="subscribe-number-left" style="width: 100%; height: 400px;"></div>
           <div id="J-takeoff" class="subscribe-number-right" style="width: 100%; height: 400px;"></div>
       </div>
    </div>

    <div class="col-md-12 clearfix device" ng-show="tabIsActive == 'device'">
        <div class="subscribe-number">
            <div id="J-deviceDelivery" class="subscribe-number-left" style="width: 100%; height: 400px;"></div>
            <div id="J-deliveryStatus" class="subscribe-number-right" style="width: 100%; height: 400px;"></div>
        </div>
    </div>

    <div class="col-md-12 clearfix">
        <div class="index-search">
            <div class="btn-group col-sm-2" style="max-width: 180px; padding: 0; margin-right: 30px;">
                <button type="button" class="btn" ng-class="{'btn-primary': isActive == v.type, 'btn-default': isActive != v.type}" ng-click="tabTimeBtn(v.type)" ng-repeat="v in timeBtnData">{{v.name}}
                </button>
            </div>

            <div class="form-group timeFrame" style="padding: 0; margin: 0;">
                <div class="col-sm-1" style="min-width: 183px;">
                    <input type="text" class="form-control" id="serviceStartTime" style="background: #ffffff" name="serviceStartTime" ng-model="serviceStartTime" readonly="readonly" report-date-picker/>
                </div>
                <div class="col-sm-1 time-to" style="width: 20px; padding: 0; line-height: 30px;">
                    至
                </div>
                <div class="col-sm-1" style="min-width: 183px;">
                    <input type="text" class="form-control" id="serviceEndTime" style="background: #ffffff" name="serviceEndTime" ng-model="serviceEndTime" readonly="readonly" report-date-picker/>
                </div>
                <div class="col-sm-1" style="max-width: 60px; padding: 0;">
                    <button type="submit" class="btn btn-primary" ng-click="timeSearch()">搜索</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div ng-show="tabIsActive == 'publicNumber'" ui-grid="publicNumberGridOptions" ui-grid-auto-resize ui-grid-pagination class="grid grid-publicNumber-dashboard" ui-grid-move-columns ui-grid-selection style="height: 853px;"></div><!--height: 943px;-->
        <div ng-show="tabIsActive == 'device'" ui-grid="deviceGridOptions" ui-grid-auto-resize ui-grid-pagination class="grid grid-device-dashboard" ui-grid-move-columns ui-grid-selection style="height: 853px;"></div>
    </div>
</div>